
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCountryLabel" data-translate="hmisApp.country.home.createOrEditLabel">Create or edit a Country</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
     <!--   <div class="form-group" ng-show="vm.country.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.country.id" readonly />
        </div>-->
        <div class="form-group col-sm-6">
            <div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.country.name"
                    required ng-pattern="/^[a-zA-Z0-9]*$/"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="Name">
                    This field should follow pattern for "Name".
                </p>
            </div>
        </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" data-translate="hmisApp.country.regionalName" for="field_regionalName">Regional Name</label>
            <input type="text" class="form-control" name="regionalName" id="field_regionalName"
                    ng-model="vm.country.regionalName"
                    required/>
            <div ng-show="editForm.regionalName.$invalid">
                <p class="help-block"
                    ng-show="editForm.regionalName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                    ng-model="vm.country.lat"
                    />
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" data-translate="hmisApp.country.lon" for="field_lon">Lon</label>
            <input type="text" class="form-control" name="lon" id="field_lon"
                    ng-model="vm.country.lon"
                    />
        </div>
            </div>
        <!--<div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.createdate" for="field_createdate">Createdate</label>
                <div class="input-group">
                    <input id="field_createdate" type="text" class="form-control" name="createdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.country.createdate" is-open="vm.datePickerOpenStatus.createdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>-->
        <!--<div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.createby" for="field_createby">Createby</label>
            <input type="number" class="form-control" name="createby" id="field_createby"
                    ng-model="vm.country.createby"
                    />
        </div>-->
        <!--<div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.updatedate" for="field_updatedate">Updatedate</label>
                <div class="input-group">
                    <input id="field_updatedate" type="text" class="form-control" name="updatedate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.country.updatedate" is-open="vm.datePickerOpenStatus.updatedate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>-->
        <!--<div class="form-group">
            <label class="control-label" data-translate="hmisApp.country.updateby" for="field_updateby">Updateby</label>
            <input type="number" class="form-control" name="updateby" id="field_updateby"
                    ng-model="vm.country.updateby"
                    />
        </div>-->

    <div class="col-md-6">
        <div class="form-group">
            <h6 class="control-label" translate="hmisApp.country.status">Status</h6>
            <div>
                <label class="radio-inline btn btn-default"><input type="radio" name="status" value="true"
                                                                   ng-checked="(vm.country.status == true || vm.country.status == null)"
                                                                   ng-model="vm.country.status"><span
                    translate="entity.action.active">Active</span></label>&nbsp;&nbsp;

                <label class="radio-inline btn btn-default"><input type="radio" name="status" value="false"
                                                                   ng-checked="vm.country.status == false && vm.city.country != null"
                                                                   ng-model="vm.country.status"><span
                    translate="entity.action.deactivate">Deactive</span></label>
            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
