<div>
    <h2 data-translate="hmisApp.house.home.title">Houses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="house.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hmisApp.house.home.createLabel">
                        Create new House
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseName"><span data-translate="hmisApp.house.houseName">House Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseNo"><span data-translate="hmisApp.house.houseNo">House No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="hmisApp.house.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseToFloorNo"><span data-translate="hmisApp.house.houseToFloorNo">House To Floor No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownToFloorNo"><span data-translate="hmisApp.house.ownToFloorNo">Own To Floor No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lat"><span data-translate="hmisApp.house.lat">Lat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lon"><span data-translate="hmisApp.house.lon">Lon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="createdate"><span data-translate="hmisApp.house.createdate">Createdate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createBy"><span data-translate="hmisApp.house.createBy">Create By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateDate"><span data-translate="hmisApp.house.updateDate">Update Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateBy"><span data-translate="hmisApp.house.updateBy">Update By</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="image"><span data-translate="hmisApp.house.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                   <!-- <th jh-sort-by="country.name"><span data-translate="hmisApp.house.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state.name"><span data-translate="hmisApp.house.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city.name"><span data-translate="hmisApp.house.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="profile.firstName"><span data-translate="hmisApp.house.profile">Profile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="hmisApp.house.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="house in vm.houses track by house.id">
                    <td><a ui-sref="house-detail({id:house.id})">{{$index+1}}</a></td>
                    <td>{{house.houseName}}</td>
                    <td>{{house.houseNo}}</td>
                    <td>{{house.address}}</td>
                    <td>{{house.houseToFloorNo}}</td>
                    <td>{{house.ownToFloorNo}}</td>
                    <td>{{house.lat}}</td>
                    <td>{{house.lon}}</td>
                        <!--<td>{{house.createdate | date:'mediumDate'}}</td>
                    <td>{{house.createBy}}</td>
                        <td>{{house.updateDate | date:'mediumDate'}}</td>
                    <td>{{house.updateBy}}</td>-->
                    <td>
                        <a ng-if="house.image" ng-click="vm.openFile(house.imageContentType, house.image)">
                            <img data-ng-src="{{'data:' + house.imageContentType + ';base64,' + house.image}}" style="max-height: 30px;" alt="house image"/>
                        </a>
                        <span ng-if="house.image">{{house.imageContentType}}, {{vm.byteSize(house.image)}}</span>
                    </td>
                    <!--<td>
                        <a ui-sref="country-detail({id:house.country.id})">{{house.country.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="state-detail({id:house.state.id})">{{house.state.name}}</a>
                    </td>-->
                    <!--<td>
                        <a ui-sref="city-detail({id:house.city.id})">{{house.city.name}}</a>
                    </td>-->
                    <!--<td>
                        <a ui-sref="profile-detail({id:house.profile.id})">{{house.profile.firstName}}</a>
                    </td>
                    <td>
                        {{house.user.login}}
                    </td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="house-detail({id:house.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="house.edit({id:house.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="house.delete({id:house.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
